# Ignore all hidden and gitignore files
**/.

# Ignore Mac system files
**/.DS_store

# Ignore all project files
**/.idea

# Ignore virtual environment folders
**/venv

# Other local-testing or project-specific files
/apiTesting.py
/testMongoDB.py
