# Ignore all hidden and gitignore files
**/.

# Ignore Mac system files
**/.DS_store

# Ignore all project files
**/.idea

# Ignore virtual environment folders
**/venv

# Ignore README file so dev branch does not update to match other branch's README
**/README.md

# Other local-testing or project-specific files
/apiTesting.py
/testMongoDB.py
