#modelGrid .row .col-md-4 .card .card-img-top {
  width: 360px;
  height: 270px;
}

.centered {
  text-align: center;
  display: block;
}

.carousel,
.carousel-item,
.carousel-pic {
  width: 100%;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.header-pic {
  width: 20%;
  height: 20%;
}

.instance-pic {
  width: 30%;
  height: 40%;
}

.card {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}