body {
  background-color: black;
}

.container-fluid {
  margin-bottom: 0;
}

/* NAVBAR */
.navbar {
  min-height: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  background: rgba(0,0,0,.6)!important;
}
.navbar-nav li {
  padding-right: 1.5rem;
  padding-top: 0.25rem;
}
.navbar-dark .navbar-nav .navbar-link {
  color: white;
}
#fithubLogo {
  filter: invert(100%);
  height: 50px;
  padding-right: 0.7rem;
  padding-left: 0.3rem;
}
.form-control{
  background-color: transparent;
}
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.911);
}

/* MODEL PAGES */
.exercise-div {
  padding-top: 6rem;
  background: linear-gradient(0deg, rgb(255 255 255 / 23%), rgb(255 255 255 / 23%)), url(jumbotron1.png);
  padding-bottom: 1rem;
}
.jumbotron-exercise {
  background-image: url(jumbotron1.png);
  border: rgb(94, 94, 94);
  border-top: whitesmoke;
  border-left: whitesmoke;
  border-style: solid;
  border-width: 0.75rem;
  padding: 1rem 5rem 1rem 5rem;
}
.jumbotron-exercise h1 {
  color: white;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.jumbotron-exercise p {
  color: white;
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.grid-div {
  background-color: transparent;
}

#modelGrid .row .col-md-4 .card .card-img-top {
  width: 360px;
  height: 270px;
}

.centered {
  text-align: center;
  display: block;
}
.card-style {
  border: whitesmoke;
  border-style: solid;
  border-width: 0.25rem;
  background-image: url(jumbotron1.png);
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.75), 0 0 6px rgba(255,255,255,.75);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: none;
}
.card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  text-transform: uppercase;
}
.card-body {
  color: whitesmoke;
}
.card-image-style {
  background-color: whitesmoke; 
  border: whitesmoke; 
  border-style: solid; 
  border-width: 0.2rem;
}
.checkbox-menu label {
  margin-left: 0.5rem;
}

/* CAROUSEL */
.carousel-item-homepage {
    height: 100vh;
    max-width: 100%;
}

.carousel-item-homepage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.homepage-controls {
  margin-top: auto;
}
.carousel-caption {
  position: absolute;
  top: 38%;
  width: 100%;
  right: 0;
  left: 0;
}
.carousel-caption h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}
.carousel-caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  text-transform: uppercase;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
} 

/* INSTANCE PAGES */
.exercise-instance-div {
  padding-top: 6rem;
  background: linear-gradient(0deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 0%)), url(jumbotron1.png);
  padding-bottom: 1rem;
}
.jumbotron-exercise-instance {
  background-image: url(jumbotron1.png);
  border: rgb(151, 151, 151);
  border-top: whitesmoke;
  border-left: whitesmoke;
  border-style: solid;
  border-width: 0.6rem;
  padding: 1rem 5rem 1rem 5rem;
}
.jumbotron-exercise-instance h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: .1rem .1rem .8rem black;
  text-transform: uppercase;
}
.exercise-instance-text{
  color: white;
}
.jumbotron-exercise-instance-text {
  margin: 1.5rem;
  padding: 0.5rem;
  background: transparent;
  border: rgb(197, 197, 197);
  border-style: solid;
  border-width: 0.3rem;
}
.table caption {
  color: white;
}
.tables {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.instance-text {
  color: whitesmoke;
  margin: 0;
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-size: xx-large;
  background: transparent;
}

.header-pic {
  width: 20%;
  height: 20%;
}
.instance-pic {
  width: 30%;
  height: 40%;
}

/* ABOUT PAGE */
.about-div {
  padding-top: 5rem;
  background-image: url(aboutbackground.png);
}
.jumbotron-about {
  background-image: url(aboutbackground.png);
  border: rgb(94, 94, 94);
  border-top: whitesmoke;
  border-left: whitesmoke;
  border-style: solid;
  border-width: 0.6rem;
  padding: 1rem 5rem 1rem 5rem;
}
.jumbotron-about h1 {
  color: white;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem black;
  text-transform: uppercase;
}
.website-description {
  padding: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.website-description p {
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 350;
}
#websiteDescription4 li {
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 350;
}
.about-header-text {
  color: whitesmoke;
  margin: 0;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.about-info-text {
  color: whitesmoke;
  font-size: 1.75rem;
}
#data-links li {
  color: whitesmoke;
  margin-top: 1rem;
  font-size: 1rem;
}
#tools li {
  color: whitesmoke;
  margin-top: 1rem;
  font-size: 1rem;
}

#andyCard .card-body{
  color: black;
}
#andyCard .card-title{
  color: black;
  text-align: center;
}
#kayleeCard .card-body{
  color: black;
}
#kayleeCard .card-title{
  color: black;
  text-align: center;
}
#michelleCard .card-body{
  color: black;
}
#michelleCard .card-title{
  color: black;
  text-align: center;
}
#christopherCard .card-body{
  color: black;
}
#christopherCard .card-title{
  color: black;
  text-align: center;
}