{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light mb-4">
        <h1>About Us</h1>
        <p id="websiteDescription1">
            In today's world where desk jobs are prevalent, over 60-85% of people around the world lead sedentary lifestyles.
            This lack of physical activity can have serious implications for overall health and is attributed to about 2 million deaths every year.
            In fact, the World Health Organization states that "sedentary lifestyles increases all causes of mortality,
            double the risk of cardiovascular diseases, diabetes, and obesity, and increase the risks of colon cancer, high blood pressure,
            osteoporosis, lipid disorders, depression and anxiety."
        </p>
        <br>
        <p id="websiteDescription2">
            Here at Fithub, we believe that everyone around the world should have the resources
            and opportunity to improve their fitness and strive for a more active lifestyle. We are aware of the dangers
            of a sedentary lifestyle and want to provide detailed information to easily allow our users to incorporate regular exercise into their lives.
        </p>
        <br>
        <p id="websiteDescription3">
            However, we are aware that it can be difficult to find the information you need with so much scattered information
            over the web. In addition, we know that the ongoing COVID-19 pandemic may have limited your access to public gyms
            and imposed major challenges to finding and sticking to a workout routine.
            As a result, we have aggregated a database of over 100 exercises and provided links to common workout equipment and
            popular fitness Youtubers to help your overcome these challenges. With our database, you can easily:
        </p>
        <ul id="websiteDescription4">
            <li>Filter exercises by category or target muscle groups to easily build your own tailored workout routine</li>
            <li>Read detailed guides about how to perform specific exercises and easily navigate to instructional videos</li>
            <li>Check the equipment needed to perform certain exercises at home</li>
            <li>Check the price of various fitness equipment/gear</li>
            <li>Check the rating of the vendors selling fitness equipment/gear</li>
            <li>Find discounts on fitness products with links to Youtube influencers with sponsors</li>
            <li>Find deals on fitness products using links to Youtube channels with related sponsorships</li>
            <li>Learn more about specific exercises and equipment referenced in fitness Youtube videos</li>
        </ul>
        <p id="websiteDescription5">
            Athletes and fitness enthusiasts of all ages and experience levels are welcome to explore our comprehensive database about specific exercises, equipment, and Youtubers!
        </p>

        <hr/>

        <h1>Meet TeamA13!</h1>

        <div class="card-deck">
            <div class="card" id="andyCard">
                <img class="card-img-top" src="{{ url_for('static', filename='andy.jpg') }}" alt="Photo of Andy">
                <div class="card-body">
                    <h3 class="card-title">Andy Wu</h3>
                    <p class="card-text">
                        I am a junior at UT Austin with experience in backend development and cloud technologies. I have
                        always enjoyed sports and fitness and have played tennis, basketball, soccer, and volleyball growing up.
                        In my free time, I enjoy options trading, working out, watching Netflix shows, and  Ultimate Frisbee.
                        One fun fact about me is that I used to compete in state archery tournaments back in middle school.
                    </p>
                    <p class="card-text">Major: Electrical and Computer Engineering with a focus in Software Engineering and Systems</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Primary responsibilities: Youtube Data API framework, developing backend infrastructure, Youtube channels page, About page</small>
                </div>
            </div>

            <div class="card" id="kayleeCard">
                <img class="card-img-top" src="{{ url_for('static', filename='kaylee.jpg') }}" alt="Photo of Kaylee">
                <div class="card-body">
                    <h3 class="card-title">Kaylee Trevino</h3>
                    <p class="card-text">
                        I am currently a senior at UT Austin with a strong interest in software engineering.
                        I am also interested in learning about web development and data science.
                        For my personal interests, I like painting and hiking.
                    </p>
                    <p class="card-text">Major: Electrical and Computer Engineering with a focus in Software Engineering & Systems and Data Science & Information Processing</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Primary responsibilities: Youtube channels pages, Homepage</small>
                </div>
            </div>

            <div class="card" id="michelleCard">
                <img class="card-img-top" src="{{ url_for('static', filename='michelle.jpg') }}" alt="Photo of Michelle">
                <div class="card-body">
                    <h3 class="card-title">Michelle Wen</h3>
                    <p class="card-text">
                        My hometown is Plano, TX, and I went to the Texas Academy of Math and Science for high school.
                        I'm currently a junior at UT Austin, and I enjoy doing robotics research, being an officer for Women in Electrical and Computer Engineering, and working on creative technical projects.
                        In my free time, I enjoy painting with acrylics and watercolor, watching animated films, and exploring the outdoors.
                        Fun fact: I danced Chinese folk dance for 9 years, and I was a Girl Scout for 11 years.
                    </p>
                    <p class="card-text">Major: Electrical and Computer Engineering with a focus in Software Engineering and Systems</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Primary responsibilities: WGER API framework, Google Image Search API, Exercise page</small>
                </div>
            </div>

            <div class="card" id="christopherCard">
                <img class="card-img-top" src="{{ url_for('static', filename='christopher.jpg') }}" alt="Photo of Christopher">
                <div class="card-body">
                    <h3 class="card-title">Christopher Saenz</h3>
                    <p class="card-text">
                        My name is Christopher Saenz. I'm a senior at the University of Texas at Austin studying software development.
                        I specialize in backend development, algorithms, and creative problem solving.
                        I enjoy drawing and music in my free time, as well as playing/making video-games.
                    </p>
                    <p class="card-text">Major: Electrical and Computer Engineering with a focus in Software Engineering and Systems</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Primary responsibilities: Equipment page</small>
                </div>
            </div>
        </div>

        <hr/>

        <h1>Additional Information</h1>
        <h4>Data and Links:</h4>
        <p>
            {@Michelle insert links to WGER page, wtv google image API you use, SERPSTACK API, and youtube DATA V3 API pages + how we used descriptions here}
        </p>
        <br>
        <h4>Tools:</h4>
        <p>
            {@Michelle insert tools used - uhh Github and Slack}
        </p>
        <br>
        <h4>Github Link:</h4>
        <a href="https://github.com/UT-SWLab/TeamA13">Github Repository for UT-SWLab/TeamA13</a>
    </div>

{% endblock %}