{% extends 'base.html' %} {% block head %}
<title>{{ channelObj.name }}</title>
{% endblock %} {% block body %}
<div class="container-fluid pt-3 centered">
  <h1>Welcome to {{channelObj.name}} Channel's Page!</h1>
  <img class="header-pic" src="{{ channelObj.thumbnailURL }}" />
  <label>{{channelObj.description}}</label>
  {% if channelObj.bannerUrl is not none%}
  <div>
    <img class="instance-pic" src="{{ channelObj.bannerUrl }}" />
  </div>
  <div>
    {% endif %}
    <h4>{{ channelObj.playlist.title }}</h4>
    <iframe src="{{ channelObj.playlist.url }}"></iframe>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <div><label>View Count: {{channelObj.viewCount}}</label></div>
    <div><label>Subscriber Count: {{channelObj.subscriberCount}}</label></div>
    <div><label>Number of Videos: {{channelObj.videoCount}}</label></div>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h4>Topic categories are related to the following sites!</h4>
    {% for idCategoryDict in channelObj.topicIdCategories %}
    <div>
      <a href="{{ idCategoryDict.topicCategory }}"
        >{{ idCategoryDict.topicId }}</a
      >
    </div>
    {% endfor %}
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>Keywords</h5>
    {% for word in channelObj.keywords %}
    <label class="border border-dark rounded mx-1 my-2">{{ word }}</label>
    {% endfor %}
  </div>
  {% if channelObj.unsubscribedTrailer is not none %}
  <div class="border border-dark rounded mx-auto my-2">
    <h5>{{ channelObj.unsubscribedTrailer.title }}</h5>
    <div>
      <div>
        <label
          >Description: {{ channelObj.unsubscribedTrailer.description }}</label
        >
      </div>
      <div>
        <iframe src="{{ channelObj.unsubscribedTrailer.url }}"></iframe>
        <div>
          <label
            >View Count: {{ channelObj.unsubscribedTrailer.viewCount }}</label
          >
        </div>
        <div>
          <label
            >Like Count: {{ channelObj.unsubscribedTrailer.likeCount }}</label
          >
        </div>
        <div>
          <label
            >Dislike Count: {{ channelObj.unsubscribedTrailer.dislikeCount
            }}</label
          >
        </div>
      </div>
    </div>
    <div>
      <h5>Keywords</h5>
      {% for tag in channelObj.unsubscribedTrailer.tags %}
      <label class="border border-dark rounded mx-1 my-2">{{ tag }}</label>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
