{% extends 'base.html' %} {% block head %}
<title>Biceps Girls</title>
{% endblock %} {% block body %}
<div class="container-fluid pt-3">
  <h1>Welcome to Biceps Girls's Channel!</h1>
  <img
    src="https://yt3.ggpht.com/a/AATXAJx_eYRpTB5C2jEqUPp-9N5Oo9vI04Qwf-NCDxme=s88-c-k-c0xffffffff-no-rj-mo"
  />
  <div class="border border-dark rounded mx-auto my-2">
    <div><label>View Count: 132711</label></div>
    <div><label>Subscriber Count: 15800</label></div>
    <div><label>Number of Videos: 29</label></div>
    <div><label>Are videos public or private? Public</label></div>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h4>Topic categories are related to the following sites!</h4>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Physical_fitness"
          >Physical Fitness</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Lifestyle_(sociology)"
          >Lifestyle (sociology)</a
        >
      </li>
    </ul>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>Keywords</h5>
    <label class="border border-dark rounded mx-1 my-2">Fitness</label>
    <label class="border border-dark rounded mx-1 my-2">
      Lifestyle (parent topic)
    </label>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>See: Fitness girl Nikola flexing her biceps</h5>
    <div><label>Description: Beautiful muscle girls</label></div>
    <div>
      <label>Homepage: </label>
      <a href="http://www.bicepsgirls.com">Biceps Girls</a>
    </div>
  </div>
</div>
{% endblock %}
