{% extends 'base.html' %}

<!-- Channel Parameter: channelObject -->

{% block head %}
    <title>{{ channelObject.name }}</title>
{% endblock %}


{% block body %}
    <h1> Welcome to {{ channelObject.name }}'s Channel!</h1>
    <!-- header image and description -->
    <div class="container-fluid pt-3 centered">
        <!-- TODO: is this the right picture? -->
        <img class="header-pic" src="{{ channelObject.thumbnailURL }}" />
        <h5>
            {{ channelObject.description }}
        </h5>
    </div>

    <!-- information and link -->
    <div class="border border-dark rounded mx-auto my-2">
        <div><label>Subscriber Count: {{ channelObject.subscriberCount }}</label></div>
        <div><label>View Count: {{ channelObject.viewCount }}</label></div>
        <div><label>Number of Videos: {{ channelObject.videoCount }}</label></div>
        <!-- TODO: get channel link -->
        <br/>
        <div><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Channel Link [NEED LINK]</a></div>
    </div>

    <!-- popular videos -->
    <div class="border border-dark rounded mx-auto my-2">
        <h4>Popular Videos</h4>
        <!--
        {% for v in channelObject.popularVideos %}
            <div>
                <label>videoTitle</label>
                <img class="instance-pic" src="" />
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Watch Video [NEED LINK]</a>
            </div>
        {% endfor %}
        -->
    </div>

    <!-- related topics (TODO: can we even GET this?)-->
    <div>
        <h4>This channel covers topics such as:</h4>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <!-- keywords -->
    <div class="border border-dark rounded mx-auto my-2">
        <h5>Keywords</h5>
        <!--
        {% for k in channelObject.keywords %}
            <label class="border border-dark rounded mx-1 my-2>k</label>
        {% endfor %}
        -->
    </div>

{% endblock %}
