{% extends 'base.html' %} {% block head %}
<title>jensenol11</title>
{% endblock %} {% block body %}
<div class="container-fluid pt-3 centered">
  <h1>Welcome to jensenol11's Channel!</h1>
  <img
    class="header-pic"
    src="https://yt3.ggpht.com/a/AATXAJx7k0oT3Ub-kC37i5MoDnu27i8B4rDJmUYplfg7=s800-c-k-c0xffffffff-no-rj-mo"
  />
  <div>
    <img
      class="instance-pic"
      src="https://i.ytimg.com/vi/DX4jPopnO2w/hqdefault.jpg"
    />
  </div>
  <div>
    <iframe
      src="http://www.youtube.com/embed/videoseries?list=UUb67rmuez0SKOQbZ4vCRDHQ"
    ></iframe>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <div><label>View Count: 2066544</label></div>
    <div><label>Subscriber Count: 601</label></div>
    <div><label>Number of Videos: 24</label></div>
    <div><label>Are videos public or private? Public</label></div>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h4>Topic categories are related to the following sites!</h4>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Physical_fitness"
          >Physical Fitness</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Lifestyle_(sociology)"
          >Lifestyle (sociology)</a
        >
      </li>
    </ul>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>Keywords</h5>
    <label class="border border-dark rounded mx-1 my-2">Fitness</label>
    <label class="border border-dark rounded mx-1 my-2">
      Lifestyle (parent topic)
    </label>
  </div>
</div>
{% endblock %}
