{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/static/barbellLogo.jpg" alt="Barbell Logo" style="width: 75px;">
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://rb.gy/enaq3a">Page 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://rb.gy/enaq3a">Page 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://rb.gy/enaq3a">Page 3</a>
                </li>
                <li class="nav-item-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Click for Dropdown Menu</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dropdown Item 1</a>
                        <a class="dropdown-item" href="#">Dropdown Item 2</a>
                        <a class="dropdown-item" href="#">Dropdown Item 3</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid bg-light" style="margin-top: 125px">
        <h1 class="modelHeader">Welcome to the Youtube Channel Model page!</h1>
        <p class="modelDescription">This model page includes a database of many different Youtube fitness channels that can be sorted by subscriber count,
        view count, or number of videos. In addition, channels will be tagged with up to 3 exercise tags that correspond with their
        most popular videos. You may filter channels based on your desired exercises.</p>
        {% for channel in channelArray %}
            <h2 id="channelName">Channel Name: {{ channel.name }}</h2>
            <img src="{{ channel.thumbnailURL }}" alt="{{ channel.name }}" width="480px" height="360px">
            <ul id="channelDetails">
                <li>Description: {{ channel.description }}</li>
                <li>Number of Subscribers: {{ channel.subscriberCount }}</li>
                <li>Number of Total Views: {{ channel.viewCount }}</li>
                <li>Number of Videos: {{ channel.videoCount }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
