{% extends 'base.html' %} 
{% block head %}
  <title>{{ channelObj.name }}</title>
{% endblock %} 

{% block body %}
<div class="exercise-instance-div container-fluid mx-auto">
  <div class="jumbotron-exercise-instance jumbotron jumbotron-fluid text-center">
    <h1>Welcome to {{channelObj.name}} Channel's Page!</h1>
  </div>
  <div class="jumbotron-channel-instance jumbotron jumbotron-fluid text-center">
    <div class="channel-instance-text jumbotron jumbotron-fluid text-center">
      <h4>{{channelObj.description}}</h4>
    </div>
    <img class="header-pic" src="{{ channelObj.thumbnailURL }}"/>
    <br>
    {% if channelObj.bannerUrl is not none%}
    <img class="instance-pic" src="{{ channelObj.bannerUrl }}" />
    {% endif %}
    <div style="color: whitesmoke; margin-top: 2rem">
      <h4>{{ channelObj.playlist.title }}</h4>
      <iframe src="{{ channelObj.playlist.url }}"></iframe>
    </div>
  </div>

  <div class="exercise-instance-text container-fluid text-center">
    <!-- Main info -->
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <h4><b><u>View Count:</u> </b>{{channelObj.viewCount}}</h4>
      <h4><b><u>Subscriber Count:</u> </b>{{channelObj.subscriberCount}}</h4>
      <h4><b><u>Number of Videos:</u> </b>{{channelObj.videoCount}}</h4>
    </div>
    <!-- Topic categories -->
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <h4>Topic categories are related to the following sites!</h4>
      {% for idCategoryDict in channelObj.topicIdCategories %}
      <div>
        <h5>
          <a
          href="{{ idCategoryDict.topicCategory }}"
          id="channelTopicCategories_{{channelObj.arrayIndex}}_{{idCategoryDict.topicId}}"
          >{{ idCategoryDict.topicId }}</a>
        </h5>
      </div>
      {% endfor %}
    </div>
    <!-- Keywords -->
    {% if channelObj.keywords is not none %}
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <h4><b><u>Keywords</u></b></h4>
      {% for word in channelObj.keywords %}
      <label class="border border-secondary rounded mx-1 my-2">{{ word }}</label>
      {% endfor %}
    </div>
    <!-- unsubscribed trailer -->
    {% endif %} {% if channelObj.unsubscribedTrailer is not none %}
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <h4 id="unsubscribedTrailerHeader_{{channelObj.arrayIndex}}">
        {{ channelObj.unsubscribedTrailer.title }}
      </h4>
      <div>
        <p><b><u>Description:</u> </b>{{ channelObj.unsubscribedTrailer.description }}</p>
        <div>
          <iframe src="{{ channelObj.unsubscribedTrailer.url }}"></iframe>
          <div>
            <label><b>View Count: </b>{{ channelObj.unsubscribedTrailer.viewCount }}</label>
          </div>
          <div>
            <label><b>Like Count: </b>{{ channelObj.unsubscribedTrailer.likeCount }}</label>
          </div>
          <div>
            <label><b>Dislike Count: </b>{{ channelObj.unsubscribedTrailer.dislikeCount }}</label>
          </div>
        </div>
      </div>
      <div>
        <h5 style="margin-top: 0.5rem"><u>Keywords</u></h5>
        {% for tag in channelObj.unsubscribedTrailer.tags %}
        <label class="border border-secondary rounded mx-1 my-2">{{ tag }}</label>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="tables">
    <!-- Related exercises, equipment, and channel instances -->
    <!-- Related exercises table -->
    <h4 class="instance-text">Related Exercise Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      {% if channelObj.exerciseSubcategory is none %}
      <caption id="exerciseCaption_{{channelObj.arrayIndex}}">
        Exercise pages are related by this channel's specialty of {{
        channelObj.exerciseCategory }}
      </caption>
      {% else %}
      <caption id="exerciseCaption_{{channelObj.arrayIndex}}">
        Exercise pages are related by this channel's specialty of {{
        channelObj.exerciseCategory }}: {{ channelObj.exerciseSubcategory }}
      </caption>
      {% endif %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Exercise Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in relatedObjects[0] %}
        <tr class="table-secondary">
          <th scope="row">{{ loop.index }}</th>
          <th scope="row">{{ obj.name }}</th>
          <td>
            <a
              href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}"
              >Link</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Related equipment table -->
    <h4 class="instance-text">Related Equipment Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      <caption id="equipmentCaption_{{channelObj.arrayIndex}}">
        List of related equipment pages
      </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipment Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in relatedObjects[1] %}
        <tr class="table-secondary">
          <th scope="row">{{ loop.index }}</th>
          <th scope="row">{{ obj.name }}</th>
          <td>
            <a
              href="{{ url_for('equipment_instance', arrayIndex=obj.arrayIndex) }}"
              >Link</a
            >
          </td>
        </tr>
        {% endfor %} {% if relatedObjects[1]|length == 0 %}
        <tr class="table-secondary">
          <th scope="row">0</th>
          <th scope="row">
            Sorry! Looks like this exercise has no related equipment. This could
            be a bodyweight or calisthenics exercise!
          </th>
          <td>NA</td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    <!-- Related channels table -->
    <h4 class="instance-text">Related Channel Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      {% if channelObj.exerciseSubcategory is none %}
      <caption id="channelCaption_{{channelObj.arrayIndex}}">
        Channel pages are related by this channel's specialty of {{
        channelObj.exerciseCategory }}
      </caption>
      {% else %}
      <caption id="channelCaption_{{channelObj.arrayIndex}}">
        Channel pages are related by this channel's specialty of {{
        channelObj.exerciseCategory }}: {{ channelObj.exerciseSubcategory }}
      </caption>
      {% endif %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Channel Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in relatedObjects[2] %}
        <tr class="table-secondary">
          <th scope="row">{{ loop.index }}</th>
          <th scope="row">{{ obj.name }}</th>
          <td>
            <a href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"
              >Link</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
