{% extends 'base.html' %}

{% block head %}
    <title>Youtube Channel Model Page</title>
{% endblock %}


{% block body %}
<div class="exercise-div container-fluid">   
    <div class="jumbotron-exercise jumbotron jumbotron-fluid text-center">
        <h1 class="modelHeader">Get ready to get fit</h1>
        <p class="modelDescription">Explore some of the most popular Youtube fitness channels.</p>
    </div> 
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="channelsFilterForm" action="{{ url_for('channels', page_number=1) }}" method="post">
            <ul class="checkbox-menu">
                <li class="dropdown-header">Subscribers</li>
                <li>
                    <label><input type="checkbox" name='checkedSubscriberRange' value="0 1000"> 0 - 1K </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedSubscriberRange' value="1000 100000"> 1K- 100K </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedSubscriberRange' value="100000 1000000">100K - 1M</label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedSubscriberRange' value="1000000 10000000">1M - 10M</label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedSubscriberRange' value="10000000 999000000">10M+</label>
                </li>
                <li class="dropdown-header">Total Views</li>
                <li>
                    <label> <input type="checkbox" name='checkedTotalViewsRange' value="0 100000"> 0 - 100K </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedTotalViewsRange' value="100000 1000000"> 100K - 1M </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedTotalViewsRange' value="1000000 5000000"> 1M - 5M </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedTotalViewsRange' value="5000000 25000000"> 5M - 25M </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedTotalViewsRange' value="25000000 50000000"> 25M - 50M </label>
                </li>
                <li>
                    <label><input type="checkbox" name='checkedTotalViewsRange' value="50000000 999000000000"> 50M+ </label>
                </li>
                <li class="dropdown-header">Videos</li>
                <li>
                    <label> <input type="checkbox" name='checkedVideosRange' value="0 100"> 0 - 100</label>
                </li>
                <li>
                    <label> <input type="checkbox" name='checkedVideosRange' value="100 250"> 100 - 250</label>
                </li>
                <li>
                    <label> <input type="checkbox" name='checkedVideosRange' value="250 500"> 250 - 500</label>
                </li>
                <li>
                    <label> <input type="checkbox" name='checkedVideosRange' value="500 1000"> 500 - 1K</label>
                </li>
                <li>
                    <label> <input type="checkbox" name='checkedVideosRange' value="1000 9999"> 1K+ </label>
                </li>
                <li style="text-align: center; margin-top: 1rem;">
                    <button class="reset-button btn btn-outline-light" type="submit" name="Reset" value="clicked">Reset</button>
                    <button class="filter-button btn btn-outline-light" type="button" name="Filter" onclick="verifyCheckBoxesAndSubmit('channelsFilterForm')">Filter</button>
                </li>  
            </ul>
        </form>    
    </div>

    <!-- Use any element to open the sidenav -->
    <div>
        <button class="filter-open-button" onclick="openNav()">Filter ></button>
        <a href="#"><img class="ascending-button" src="/static/arrow.png" alt="Ascending" onclick="sortAscending();"></a>
        <a href="#"><img class="descending-button" src="/static/arrow.png" alt="Descending" onclick="sortDescending();"></a>
    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="grid-div container-fluid" id="modelGrid">
        {% set numFullRows = ((end + 1) - start) // 3 %}
        {% set numLeftOverChannels = ((end + 1) - start) % 3 %}
        {% for i in range(numFullRows) %}
            <div class="row justify-content-center" id="row{{ i|string }}">
                {% for offset in range(3) %}
                <div class="col-md-4 p-4">
                    <div class="card card-style h-100 pt-4">
                        <img class="card-img-top card-image-style img-fluid mx-auto" src="{{ channelArray[start + 3*i + offset].thumbnailURL }}" alt="{{ channelArray[start + 3*i + offset].name }}">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ channelArray[start + 3*i + offset].name }}</h2>
                            <p class="card-text">
                                <ul class="channelAttributesList list-unstyled">
                                    {% if channelArray[start + 3*i + offset].description|length != 0 %}
                                        <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;" id="descriptionTxt_{{channelArray[start + 3*i + offset].arrayIndex}}"><b>Description: </b>{{ channelArray[start + 3*i + offset].description }}</li>
                                    {% else %}
                                        <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;" id="descriptionNoTxt_{{channelArray[start + 3*i + offset].arrayIndex}}"><b>Description: </b>No description provided.</li>
                                    {% endif %}
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;" id="subscriberTxt_{{channelArray[start + 3*i + offset].arrayIndex}}"><b>Subscribers: </b>{{ channelArray[start + 3*i + offset].subscriberCount }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;" id="viewTxt_{{channelArray[start + 3*i + offset].arrayIndex}}"><b>Total Views: </b>{{ channelArray[start + 3*i + offset].viewCount }}</li>
                                    <li style="padding-left: 1em;" id="videoTxt_{{channelArray[start + 3*i + offset].arrayIndex}}"><b>Videos: </b>{{ channelArray[start + 3*i + offset].videoCount }}</li>
                                </ul>
                            </p>
                            <a href="{{ url_for('channel_instance', arrayIndex=channelArray[start + 3*i + offset].arrayIndex) }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}      
            </div>
        {% endfor %}

        <!-- Now if there are leftover channels, we place the leftover channels into bottom-most row, using indexing from back of the array -->
        {% if numLeftOverChannels > 0 %}
            <div class="row" id="bottomRow">
            {% for i in range(-numLeftOverChannels, 0) %}
                <div class="col-md-4 p-4">
                    <div class="card card-style h-100 pt-4">
                        <img class="card-img-top card-image-style img-fluid mx-auto" src="{{ channelArray[end + 1 + i].thumbnailURL }}" alt="{{ channelArray[end + 1 + i].name }}">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ channelArray[end + 1 + i].name }}</h2>
                            <p class="card-text">
                                <ul class="channelAttributesList list-unstyled">
                                    <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;"><b>Description: </b>{{ channelArray[end + 1 + i].description }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;"><b>Subscribers: </b>{{ channelArray[end + 1 + i].subscriberCount }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;"><b>Total Views: </b>{{ channelArray[end + 1 + i].viewCount }}</li>
                                    <li style="padding-left: 1em;"><b>Videos: </b>{{ channelArray[end + 1 + i].videoCount }}</li>
                                </ul>
                            </p>
                            <a href="{{ url_for('channel_instance', arrayIndex=channelArray[end + 1 + i].arrayIndex) }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <ul class="pagination justify-content-center" style="margin:20px 0">
            <!--Previous Page Button-->
            {% if page_number == 1 %}
                <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('channels', page_number=page_number-1) }}">Previous</a></li>
            {% endif %}  

            <!--All Pages Buttons-->
            {% for i in range(1, num_pages+1) %}
                {% if i == page_number %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('channels', page_number=i) }}">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('channels', page_number=i) }}">{{i}}</a></li>
                {% endif %}    
            {% endfor %}

            <!--Next Page Button-->
            {% if page_number == num_pages %}
                <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('channels', page_number=page_number+1) }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}