{% extends 'base.html' %} {% block head %}
<title>workout & Fitness</title>
{% endblock %} {% block body %}
<div class="container-fluid pt-3 centered">
  <h1>Welcome to workout & Fitness's Channel!</h1>
  <img
    class="header-pic"
    src="https://yt3.ggpht.com/a/AATXAJwPhnsNaSAN-z6HzIcahenFVdwQGa5l7qV0AZOiLQ=s800-c-k-c0xffffffff-no-rj-mo"
  />
  <h5>
    The channel is an educational purpose for bodybuilding and fitness.Our
    YouTube videos help you to build body and stay fit. with our YouTube workout
    videos , you can learn how professional exercises are done. our mission is
    to provide you the most effective and comprehensive Exercise demos and
    informative workout and fitness videos © Copyright by "workout & Fitness" ☞
    Do not Reup. If you use our cantent first inform us.Like, Share and
    Subscribe our Channel to inspire me to make more informational videos
    #workout #fitness #motivation #bodybulding #muscles #gym 👑 KT 👑
  </h5>
  <div>
    <img
      class="instance-pic"
      src="https://i.ytimg.com/vi/-kvBYSzc2vM/hqdefault.jpg"
    />
    <img
      class="instance-pic"
      src="https://yt3.ggpht.com/suqwFmcqmkHotsJFKUFioijr2_aKlrNZwv59qZedtwn2IGf5BnrmvjX2yURSxfsGOJpnd_5Qzuw=w640-fcrop64=1,32b75a57cd48a5a8-k-c0xffffffff-no-nd-rj"
    />
  </div>
  <div>
    <iframe
      src="http://www.youtube.com/embed/videoseries?list=UU_gbQ9J76mYJ5S3zVTANM_w"
    ></iframe>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <div><label>View Count: 6687183</label></div>
    <div><label>Subscriber Count: 230000</label></div>
    <div><label>Number of Videos: 82</label></div>
    <div><label>Are videos public or private? Public</label></div>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h4>Topic categories are related to the following sites!</h4>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Physical_fitness"
          >Physical Fitness</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Lifestyle_(sociology)"
          >Lifestyle (sociology)</a
        >
      </li>
    </ul>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>Keywords</h5>
    <label class="border border-dark rounded mx-1 my-2">Fitness</label>
    <label class="border border-dark rounded mx-1 my-2">
      Lifestyle (parent topic)
    </label>
    <label class="border border-dark rounded mx-1 my-2">workout</label>
    <label class="border border-dark rounded mx-1 my-2">training</label>
    <label class="border border-dark rounded mx-1 my-2">fitness</label>
    <label class="border border-dark rounded mx-1 my-2">bodybuilding</label>
    <label class="border border-dark rounded mx-1 my-2">motivation</label>
    <label class="border border-dark rounded mx-1 my-2">workout at home</label>
    <label class="border border-dark rounded mx-1 my-2">exercise at home</label>
    <label class="border border-dark rounded mx-1 my-2">home workout</label>
  </div>
  <div class="border border-dark rounded mx-auto my-2">
    <h5>See: Back Exercises at gym | back workout</h5>
    <div>
      <div><label>Description: #workout #fitness #back_workout</label></div>
      <div><label>Back Exercise at gym | back workout</label></div>
      <div><label>EXERCISE STEPS</label></div>
      <div><label>Exercise 1 :- T Bar Row 3 sets 14-16 Reps</label></div>
      <div>
        <label>Exercise 2 :- Chin Up Neutral Grip 3 sets 14-16 Reps</label>
      </div>
      <div>
        <label>Exercise 3 :- Barbell Bent Over Row 3 sets 14-16 Reps</label>
      </div>
      <div>
        <label
          >Exercise 4 :- Cable Straight Arm Pulldown 3 sets 14-16 Reps</label
        >
      </div>
      <div>
        <label>Exercise 5 :- Barbell Incline Row3 sets 14-16 Reps</label>
      </div>
      <div><label>Exercise 6 :- Cable Pushdown 3 sets 14-16 Reps</label></div>
      <div><label>▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬</label></div>
      <div>
        <label
          >The channel is an educational purpose for bodybuilding and
          fitness.Our YouTube videos help you to build body and stay fit. with
          our YouTube workout videos , you can learn how professional exercises
          are done. our mission is to provide you the most effective and
          comprehensive Exercise demos and informative workout and fitness
          videos Like, Share and Subscribe our Channel to inspire me to make
          more informational videos</label
        >
      </div>
      <div><label>▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬</label></div>
      <div>
        <label>YouTube channel link</label>
        <a href="https://www.youtube.com/channel/UC_gbQ9J76mYJ5S3zVTANM_w"
          >workout & Fitness</a
        >
      </div>
      <div><label>▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬</label></div>
      <div>
        <label>© Copyright by "workout & Fitness" ☞ Do not Reup.</label>
      </div>
    </div>
    <div>
      <h5>Keywords</h5>
      <label class="border border-dark rounded mx-1 my-2">workout</label>
      <label class="border border-dark rounded mx-1 my-2">Fitness</label>
      <label class="border border-dark rounded mx-1 my-2">gym</label>
      <label class="border border-dark rounded mx-1 my-2">back workout</label>
      <label class="border border-dark rounded mx-1 my-2"
        >back workout for mass</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout at gym</label
      >
      <label class="border border-dark rounded mx-1 my-2">back Exercise</label>
      <label class="border border-dark rounded mx-1 my-2">back extension</label>
      <label class="border border-dark rounded mx-1 my-2"
        >back workout routine</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout bodybuilding</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >lower back workouts</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workouts with dumbbells</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >upper back workouts</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workouts at home</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout tips</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout for strength and power</label
      >
      <label class="border border-dark rounded mx-1 my-2">back</label>
      <label class="border border-dark rounded mx-1 my-2"
        >workout for mass</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >how to build back</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout for men</label
      >
      <label class="border border-dark rounded mx-1 my-2"
        >back workout for women</label
      >
    </div>
  </div>
</div>
{% endblock %}
