{% extends 'base.html' %}

{% block head %}
    <title>Youtube Channel Model Page</title>
    <script type="text/javascript" src="/static/channels.js"></script>
{% endblock %}


{% block body %}
<div class="exercise-div container-fluid">   
    {% set currArray = channelArray %}
    <div class="jumbotron-exercise jumbotron jumbotron-fluid text-center">
        <h1 class="modelHeader">Get ready to get fit</h1>
        <p class="modelDescription">Explore some of the most popular Youtube fitness channels.</p>
    </div> 
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="channelsFilterForm" action="{{ url_for('channels', page_number=1) }}" method="post">
            <ul class="checkbox-menu">
                <li class="dropdown-header">Subscribers</li>
                <li>
                    <label><input type="checkbox" id='channelsOption1' name='checkedSubscriberRange' value="0 1000"> 0 - 1K </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption2' name='checkedSubscriberRange' value="1000 100000"> 1K- 100K </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption3' name='checkedSubscriberRange' value="100000 1000000"> 100K - 1M</label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption4' name='checkedSubscriberRange' value="1000000 10000000"> 1M - 10M</label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption5' name='checkedSubscriberRange' value="10000000 999000000"> 10M+</label>
                </li>
                <li class="dropdown-header">Total Views</li>
                <li>
                    <label> <input type="checkbox" id='channelsOption6' name='checkedTotalViewsRange' value="0 100000"> 0 - 100K </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption7' name='checkedTotalViewsRange' value="100000 1000000"> 100K - 1M </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption8' name='checkedTotalViewsRange' value="1000000 5000000"> 1M - 5M </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption9' name='checkedTotalViewsRange' value="5000000 25000000"> 5M - 25M </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption10' name='checkedTotalViewsRange' value="25000000 50000000"> 25M - 50M </label>
                </li>
                <li>
                    <label><input type="checkbox" id='channelsOption11' name='checkedTotalViewsRange' value="50000000 999000000000"> 50M+ </label>
                </li>
                <li class="dropdown-header">Videos</li>
                <li>
                    <label> <input type="checkbox" id='channelsOption12' name='checkedVideosRange' value="0 100"> 0 - 100</label>
                </li>
                <li>
                    <label> <input type="checkbox" id='channelsOption13' name='checkedVideosRange' value="100 250"> 100 - 250</label>
                </li>
                <li>
                    <label> <input type="checkbox" id='channelsOption14' name='checkedVideosRange' value="250 500"> 250 - 500</label>
                </li>
                <li>
                    <label> <input type="checkbox" id='channelsOption15' name='checkedVideosRange' value="500 1000"> 500 - 1K</label>
                </li>
                <li>
                    <label> <input type="checkbox" id='channelsOption16' name='checkedVideosRange' value="1000 9999"> 1K+ </label>
                </li>
                <li style="text-align: center; margin-top: 1rem;  margin-bottom: 110px;">
                    <input type="hidden" id='channelsResetHiddenField' name='resetHiddenField' value="">
                    <button class="filter-button btn btn-outline-light" type="button" name="Filter" onclick="verifyCheckBoxes('channelsFilterForm')">Filter</button>
                </li>  
            </ul>
        </form>    
    </div>


    <!-- Sorting Dropdown and Search Bar-->
    {% set dataArr = [] %}
    {% for obj in currArray %}
        {% if obj.description|length == 0 %}
            {% set dataArr = dataArr.append({"name": obj.name, "description": "|No description provided.", "subscriber": obj.subscriberCount, "view": obj.viewCount, "video": obj.videoCount}) %}
        {% else %}
            {% set dataArr = dataArr.append({"name": obj.name, "description": obj.description, "subscriber": obj.subscriberCount, "view": obj.viewCount, "video": obj.videoCount}) %}
        {% endif %}
    {% endfor %}
    <meta id="channelArrayData" data-arr='{{dataArr}}'/>
    <div class="container-fluid" style="display: inline-block;">
        <button class="filter-open-button" onclick="openNav()">Filter ></button>

        <!-- Sorting Dropdown -->
        <form class="d-inline-block sorting-form" id="channelsSortForm" action="{{ url_for('channels', page_number=1) }}" method="post">
            <label for="channelsSortCriteriaMenu" id="channelsSortMenuLabel" style="color: white; margin-top: 1rem;"></label>
            <select class="sort-form-style" id="channelsSortCriteriaMenu" name="channelsSortCriteriaMenu">
                <option value="select" id="select" selected disabled>Sort by</option>
                <option class="select-option" value="name">Name</option>
                <option class="select-option" value="subscriberCount">Subscriber Count</option>
                <option class="select-option" value="viewCount">View Count</option>
                <option class="select-option" value="videoCount">Video Count</option>
            </select>
            <input type="hidden" id='channelsSortingHiddenField' name='channelsSortingHiddenField' value="">
            <img class="ascending-button" src="/static/ascendingSortIcon.png" alt="Ascending" id="ascendBtn" onclick="submitSortForm('channelsSortForm', 'channelsSortingHiddenField', 'ascending');">
            <img class="descending-button" src="/static/descendingSortIcon.png" alt="Descending"id="descendBtn" onclick="submitSortForm('channelsSortForm', 'channelsSortingHiddenField', 'descending');">
        </form>

        <!--Search Bar-->
        <div id="searchBarContainer" class="dropdown d-inline-block" tabindex="-1">
            <form id="channelsSearchForm" action="{{ url_for('channels', page_number=1) }}" method="post" style="display: none;">
                <input id="channelsSearchItems" name="channelsSearchItems">
            </form>
            <input class="input form-control ml-3 dropdown-toggle" id = "searchBar" name="searchBar" type="search" placeholder="Search"/>
            <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins" style="width: 85%">
                <div id="menuItems">
                    {% for obj in currArray %}
                        <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b></a>
                        {% if obj.description|length == 0 %}
                            <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Description: No description provided.</a>
                        {% else %}
                            <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Description: {{ obj.description }}</a>
                        {% endif %}
                        <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Subscribers: {{ obj.subscriberCount }}</a>
                        <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Total Views: {{ obj.viewCount }}</a>
                        <a class="button dropdown-item" href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Videos: {{ obj.videoCount }}</a>
                    {% endfor %}
                </div>
                <div id="empty" class="dropdown-header">No items found</div>
            </div>
        </div>
        <!-- <button class="reset-button btn btn-outline-light" type="button" name="Reset" id="resetBtn" onclick="resetCheckboxState('channelsFilterForm', 'channelsResetHiddenField')">Reset All</button> -->
        <button class="reset-button btn btn-outline-light" type="button" onclick="reset()">Reset All</button>
    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="grid-div container-fluid" id="modelGrid">
            {% set numRows = channelArray|length // 3 %}
            {% if channelArray|length % 3 > 0 %}
                {% set numRows = channelArray|length // 3 + 1 %}
            {% endif %}
            {% for i in range(numRows) %}
                {% for offset in range(3) if (channelArray|length > 3*i + offset) %}
                    {% if ((i * 3 + offset) >= start) and ((end >= i * 3 + offset)) %}
                    <div class="card card-style h-100 pt-4">
                    {% else %}
                    <div class="card card-style h-100 pt-4" style="display: none;">
                    {% endif %}
                        <img class="card-img-top card-image-style img-fluid mx-auto" src="{{ channelArray[3*i + offset].thumbnailURL }}" alt="{{ channelArray[3*i + offset].name }}">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ channelArray[3*i + offset].name }}</h2>
                            <p class="card-text">
                                <ul class="channelAttributesList list-unstyled" id="list_{{channelArray[3*i + offset].arrayIndex}}">
                                    {% if channelArray[3*i + offset].description|length != 0 %}
                                        <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;" id="descriptionTxt_{{channelArray[3*i + offset].arrayIndex}}"><b>Description: </b>{{ channelArray[3*i + offset].description }}</li>
                                    {% else %}
                                        <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;" id="descriptionTxt_{{channelArray[3*i + offset].arrayIndex}}"><b>Description: </b>No description provided.</li>
                                    {% endif %}
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;" id="subscriberTxt_{{channelArray[3*i + offset].arrayIndex}}"><b>Subscribers: </b>{{ channelArray[3*i + offset].subscriberCount }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;" id="viewTxt_{{channelArray[3*i + offset].arrayIndex}}"><b>Total Views: </b>{{ channelArray[3*i + offset].viewCount }}</li>
                                    <li style="padding-left: 1em;" id="videoTxt_{{channelArray[3*i + offset].arrayIndex}}"><b>Videos: </b>{{ channelArray[3*i + offset].videoCount }}</li>
                                </ul>
                            </p>
                            <a href="{{ url_for('channel_instance', arrayIndex=channelArray[3*i + offset].arrayIndex) }}" class="stretched-link"></a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
    </div>
    <h4 id="noInstances" style="color: white;">Sorry! No instances meet your set requirements. Please reset the filters to see channels.</h4>
    <ul class="pagination justify-content-center" style="margin:20px 0" id="paginationBar">
        <!--Previous Page Button-->
        {% if page_number == 1 %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% else %}
            <li class="page-item"><a class="page-link">Previous</a></li>
        {% endif %}  

        <!--All Pages Buttons-->
        {% for i in range(1, num_pages+1) %}
            {% if i == page_number %}
                <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">{{i}}</a></li>
            {% endif %}    
        {% endfor %}

        <!--Next Page Button-->
        {% if page_number == num_pages %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% else %}
            <li class="page-item"><a class="page-link">Next</a></li>
        {% endif %}
    </ul>
</div>

    <script>
        //took out local storage for search item -- want to switch to session state for when click on instance & go back to model page
        if (localStorage.getItem("channelsSortPhrase") == null || localStorage.getItem("channelsSortPhrase") == "null") $("#channelsSortCriteriaMenu").val("select");
        else $("#channelsSortCriteriaMenu").val(localStorage.getItem("channelsSortPhrase"));

        let items = document.getElementsByClassName("dropdown-item");
        var data = $('#channelArrayData').data().arr;
        var dataArr = processData(); //holds current array
        var cards = document.getElementsByClassName("card card-style h-100 pt-4"); //references to list of all cards
        
        function setup() {
            $("#noInstances").hide();
        }
        setup();

        function filterSearchDropdown() {
            console.log("entering filter");
            phrase = $("#searchBar").val().trim().toLowerCase();

            $("#menu").show()
            var headers = {};
            var hidden = 0;

            for (const [name, info] of Object.entries(dataArr)) {
                if (info.isVisible) {
                    if (name.toLowerCase().includes(phrase)) {
                        headers[name.toLowerCase().replace(/'/g, "")] = 1;
                    } else if (("description: " + info.description.toLowerCase()).includes(phrase)) {
                        headers[(name.toLowerCase() + " - description: " + info.description.toLowerCase()).trim().replace(/'/g, "")] = 1;
                    } else if (("subscribers: " + info.subscriber.toLowerCase()).includes(phrase)) {
                        headers[(name.toLowerCase() + " - subscribers: " + info.subscriber.toLowerCase()).trim().replace(/'/g, "")] = 1;
                    } else if (("total views: " + info.view.toLowerCase()).includes(phrase)) {
                        headers[(name.toLowerCase() + " - total views: " + info.view.toLowerCase()).trim().replace(/'/g, "")] = 1;
                    } else if (("videos: " + info.video.toLowerCase()).includes(phrase)) {
                        headers[(name.toLowerCase() + " - videos: " + info.video.toLowerCase()).trim().replace(/'/g, "")] = 1;
                    }
                }
            }

            for (i = 0; i < items.length; i++) {
                if (items[i].innerHTML.replace("<b>", "").replace("</b>", "").toLowerCase().trim().replace(/'/g, "") in headers) {
                    $(items[i]).show();
                } else {
                    $(items[i]).hide();
                    hidden++;
                }
            }

            //If no items match, show the empty view
            if (hidden === items.length) {
                $('#empty').show();
            }
            else {
                $('#empty').hide();
            }
        }

        function searchCards() {
            console.log("entering search cards");
            var searchPhrase = $("#searchBar").val().trim().toLowerCase();
            var shown = 0;
            var matches = 0;

            var i = 0;
            for (const [name, info] of Object.entries(dataArr)) {
                var cardBodyNodes = cards[i].childNodes[3].childNodes;
                var cardDisplay = cards[i].style.display;
                var nameText = cardBodyNodes[1].innerText.trim().toLowerCase();
                var listNodes = cardBodyNodes[4].childNodes;
                var descriptionText = listNodes[1].innerText.trim().toLowerCase();
                var subscriberText = listNodes[3].innerText.trim().toLowerCase();
                var viewText = listNodes[5].innerText.trim().toLowerCase();
                var videoText = listNodes[7].innerText.trim().toLowerCase();

                if (info.isVisible) {
                    if (!(nameText.includes(searchPhrase) || descriptionText.includes(searchPhrase) || subscriberText.includes(searchPhrase) || viewText.includes(searchPhrase) || videoText.includes(searchPhrase))) {
                        info.isVisible = false;
                        cards[i].style.display = "none";
                    } else {
                        matches += 1;
                        if (shown < 9) { 
                            cards[i].style.display = "";
                            shown += 1;
                        }
                    }
                }

                i += 1;
            }

            if (shown == 0) {
                $("#channelsSortForm").hide();
                $("#noInstances").show();
                $("#paginationBar").hide();
            }

            changePaginationBtns(matches);
            paginateFirstPage();
        }

        function reset() {
            var paginationBtns = document.getElementsByClassName("page-item");
            $("#channelsSortForm").show();
            $("#noInstances").hide();
            $("#paginationBar").show();
            $("#searchBar").val("");

            // console.log(document.getElementsByClassName("page-item active")[0].innerText);

            for (const [name, info] of Object.entries(dataArr)) {
                info.isVisible = true;
            }

            var i;
            for (i = 0; i < 9; i++) {
                cards[i].style.display = "";
            }
            for (; i < cards.length; i++) {
                cards[i].style.display = "none";
            }
            for (i = 0; i < paginationBtns.length; i++) {
                paginationBtns[i].style.display = "";
            }
            paginateFirstPage();
        }

        function changePaginationBtns(matches) {
            var numPages = Math.ceil(matches / 9);
            var paginationBtns = document.getElementsByClassName("page-item");

            if (numPages == 1) {
                paginationBtns[0].className = "page-item disabled";
                paginationBtns[paginationBtns.length - 1].className = "page-item disabled"
            }
            
            for (i = numPages + 1; i < paginationBtns.length - 1; i++) {
                paginationBtns[i].style.display = "none";
            }
        }

        function paginateFirstPage() {
            var paginationBtns = document.getElementsByClassName("page-item");

            paginationBtns[0].className = "page-item disabled";
            paginationBtns[1].className = "page-item active";
            for (i = 2; i < paginationBtns.length; i++) {
                paginationBtns[i].className = "page-item";
            }
        }

        function getNumDisplayedPaginationBtns() {
            var paginationBtns = document.getElementsByClassName("page-item");

            var numDisplayed = 0;
            for (i = 1; i < paginationBtns.length - 1; i++) {
                if (!(paginationBtns[i].style.display == "none")) {
                    numDisplayed += 1;
                }
            }
            return numDisplayed;
        }

        function paginatePrevious() {
            var paginationBtns = document.getElementsByClassName("page-item");
            var numBtnsDisplayed = getNumDisplayedPaginationBtns();
            var newPageNum = null;

            for (i = 2; i <= numBtnsDisplayed; i++) {
                if (paginationBtns[i].className.includes("active")) {
                    newPageNum = i - 1;
                    paginationBtns[i].className = "page-item";
                    paginationBtns[i - 1].className = "page-item active";

                    if (i == 2) {
                        paginationBtns[0].className = "page-item disabled";
                    }
                    if (i == numBtnsDisplayed) {
                        paginationBtns[paginationBtns.length - 1].className = "page-item";
                    }
                }
            }

            paginateRender(newPageNum);
        }

        function paginateNum(num) {
            var paginationBtns = document.getElementsByClassName("page-item");
            var numBtnsDisplayed = getNumDisplayedPaginationBtns();

            if (numBtnsDisplayed == 1) {
                paginationBtns[0].className = "page-item disabled";
                paginationBtns[paginationBtns.length - 1].className = "page-item disabled";
                return;
            }

            for (i = 1; i <= numBtnsDisplayed; i++) {
                if (paginationBtns[i].className.includes("active")) {
                    paginationBtns[i].className = "page-item";
                }
            }
            paginationBtns[num].className = "page-item active";

            if (num == 1) {
                paginationBtns[0].className = "page-item disabled";
                paginationBtns[paginationBtns.length - 1].className = "page-item";
            }
            else if (num == numBtnsDisplayed) {
                paginationBtns[paginationBtns.length - 1].className = "page-item disabled";
                paginationBtns[0].className = "page-item";
            } else {
                paginationBtns[paginationBtns.length - 1].className = "page-item";
                paginationBtns[0].className = "page-item";
            }

            paginateRender(num);
        }

        function paginateNext() {
            var paginationBtns = document.getElementsByClassName("page-item");
            var numBtnsDisplayed = getNumDisplayedPaginationBtns();
            var newPageNum = null;

            for (i = 1; i < numBtnsDisplayed; i++) {
                if (paginationBtns[i].className.includes("active")) {
                    newPageNum = i + 1;
                    paginationBtns[i].className = "page-item";
                    paginationBtns[i + 1].className = "page-item active";

                    if (i == 1) {
                        paginationBtns[0].className = "page-item";
                    }
                    if (i == numBtnsDisplayed - 1) {
                        paginationBtns[paginationBtns.length - 1].className = "page-item disabled";
                    }
                    break;
                }
            }

            paginateRender(newPageNum);
        }

        function paginateRender(newPageNum) {
            var visibleCt = 0;
            var i = 0;
            for (const [name, info] of Object.entries(dataArr)) {
                if (info.isVisible) {
                    visibleCt += 1;

                    if ((visibleCt - 1 >= (newPageNum - 1) * 9) && (visibleCt - 1 < (newPageNum - 1) * 9 + 9)) {
                        cards[i].style.display = "";
                    } else {
                        cards[i].style.display = "none";
                    }
                } else {
                    cards[i].style.display = "none";
                }
                i += 1;
            }
        }

        $(document).ready(function() {
            $("#searchBar").on("keyup", function() {
                if ($(this).val().length > 0) {
                    filterSearchDropdown();
                } else {
                    $("#menu").hide();
                }
            });
            $("#searchBar").on("search", function() {
                channelsSearchPhrase = $(this).val();
                if(channelsSearchPhrase.length != 0) {
                    searchCards();
                }
            });
            $("#searchBar").on("blur", function() {
                if (!($("#menu").is(":hover"))) $("#menu").hide();
            });
            $("#searchBar").on("focus", function() {
                if ($(this).val().length != 0) filterSearchDropdown();
            });
            $("#ascendBtn").on("click", function() {
                if (!($("#channelsSortCriteriaMenu").val() == null || $("#channelsSortCriteriaMenu").val() == localStorage.getItem("channelsSortPhrase"))) localStorage.setItem("channelsSortPhrase", $("#channelsSortCriteriaMenu").val());
            });
            $("#descendBtn").on("click", function() {
                if (!($("#channelsSortCriteriaMenu").val() == null || $("#channelsSortCriteriaMenu").val() == localStorage.getItem("channelsSortPhrase"))) localStorage.setItem("channelsSortPhrase", $("#channelsSortCriteriaMenu").val());
            });
            $(".page-item").on("click", function() {
                if ($(this)[0].innerText == "Previous") {
                    paginatePrevious();
                } else if ($(this)[0].innerText == "Next") {
                    paginateNext();
                } else {
                    paginateNum($(this)[0].innerText);
                }
            })
        });

        function processData() {
            str = data;
            var strToArr = str.replace("[{", "").replace("}]", "").split("}, {");
            var finalObj = {};

            var tempStr = [];
            for (i = 0; i < strToArr.length; i++) {
                if (strToArr[i].includes("\", \'description\': \"")) tempStr = strToArr[i].split("\", \'description\': \"");
                else if (strToArr[i].includes("\', \'description\': \"")) tempStr = strToArr[i].split("\', \'description\': \"");
                else if (strToArr[i].includes("\", \'description\': \'")) tempStr = strToArr[i].split("\", \'description\': \'");
                else tempStr = strToArr[i].split("\', \'description\': \'");
                
                var nameStr = "";
                if (tempStr[0].includes("\'name\': \"", "")) nameStr = tempStr[0].replace("\'name\': \"", "");
                else nameStr = tempStr[0].replace("\'name\': \'", "");

                if (tempStr[1].includes("\', \'subscriber\': ")) tempStr = tempStr[1].split("\', \'subscriber\': ");
                else tempStr = tempStr[1].split("\", \'subscriber\': ");
                var descripStr = tempStr[0];

                tempStr = tempStr[1].split(", \'view\': ");
                var subscriberStr = tempStr[0];

                tempStr = tempStr[1].split(", \'video\': ");
                var viewStr = tempStr[0];
                var videoStr = tempStr[1];

                finalObj[nameStr] = {"description": descripStr, "subscriber": subscriberStr, "view": viewStr, "video": videoStr, "idx": i, "isVisible": true};
            }

            return finalObj;
        }
    </script>
{% endblock %}

