{% extends 'base.html' %}

<!-- Equipment Object Param Name: equipmentObject -->
<!-- 2D List of Related Indices Param Name: relatedIndices -->

{% block head %}
    <title>{{ equipmentObject.name }}</title>
{% endblock %}


{% block body %}
    <div class="container-fluid bg-light mx-auto">
        <div id="equipmentInstanceHeaderRow" class="container justify-content-center align-items-center">
            <h1 id="equipmentInstanceName">Name: {{ equipmentObject.name }}</h1>
            <!-- There's no rating returned by the API -->
<!--            <img id="equipmentInstanceRating" class="img-fluid w-50 h-auto" src="{{ url_for('static', filename='{{ equipmentObject.rating }}stars.png') }}" alt="Rating: {{ equipmentObject.rating }}/5 stars">-->
        </div>

        <!-- Carousel -->
<!--        <div id="equipmentCarousel"class="carousel slide centered" data-ride="carousel">-->
<!--              <ol class="carousel-indicators">-->
<!--                <li data-target="#equipmentCarousel" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#equipmentCarousel" data-slide-to="1"></li>-->
<!--              </ol>-->
<!--              <div class="carousel-inner">-->
<!--                  <div class="carousel-item active">-->
<!--                        {% if equipmentObject.replacePictureFlag %}-->
<!--                            <img class="card-img-top img-fluid mx-auto" style="width: auto; max-height: 500px;" src="/../static/{{ equipmentObject.picture }}" alt="{{ equipmentObject.name }}'s image">-->
<!--                        {% else %}-->
<!--                            <img class="card-img-top img-fluid mx-auto" style="width: auto; max-height: 500px;" src="{{ equipmentObject.picture }}" onerror="this.onerror=null; this.src='{{ equipmentObject.picture }}'"; alt="{{ equipmentObject.name }}'s image">-->
<!--                        {% endif %}-->
<!--                  </div>-->
<!--&lt;!&ndash;                  <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;                      <img src="{{ equipmentObject.picture }}" onerror="this.onerror=null; this.src='{{ equipmentObject.picture }}'"; alt=" {{ equipmentObject.name }}'s carousel image"/>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--              </div>-->
<!--              <a class="carousel-control-prev" href="#equipmentCarousel" data-slide="prev">-->
<!--                <span class="carousel-control-prev-icon"></span>-->
<!--              </a>-->
<!--              <a class="carousel-control-next" href="#equipmentCarousel" data-slide="next">-->
<!--                <span class="carousel-control-next-icon"></span>-->
<!--              </a>-->
<!--        </div>-->

        <div id=""equipmentImage>
            <!-- TODO: test these image resizing lines -->
            {% if equipmentObject.replacePictureFlag %}
                <img class="card-img-top img-fluid mx-auto" style="width: auto; max-height: 500px;" src="/../static/{{ equipmentObject.picture }}" alt="{{ equipmentObject.name }}'s image">
            {% else %}
                <img class="card-img-top img-fluid mx-auto" style="width: auto; max-height: 500px;" src="{{ equipmentObject.picture }}" onerror="this.onerror=null; this.src='{{ equipmentObject.picture }}'"; alt="{{ equipmentObject.name }}'s image">
            {% endif %}
        </div>
      
        <!-- Information -->
<!--        <div id="equipmentInstanceDescriptionRow" class="row justify-content-center align-items-center">-->
<!--            <p></p>-->
<!--        </div>-->
        <hr/>
        <div id="equipmentInstanceSellerBox" class="container justify-content-center align-items-center">
            <h3 id="priceText"><b>Price:</b> {{ equipmentObject.price }} USD</h3>
            <h5 id="sellerLocationText">Seller Location: {{ equipmentObject.location }} </h5>
            <h5 id="categoryText">Category: {{ equipmentObject.category }}</h5>
            <a href="{{ equipmentObject.linkToItem }}">View item on eBay</a>
        </div>
        <hr/>

        <!-- Related exercises, equipment, and channel instances -->
        <!-- Related exercises table -->
        <table class="table table-striped table-hover table-sm">
          <caption>List of exercises that use {{ equipmentObject.equipmentCategory }}</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Exercise Name</th>
              <th scope="col">Page URL</th>
            </tr>
          </thead>
          <tbody>
          {% for obj in relatedObjects[0] %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <th scope="row">{{ obj.name }}</th>
                <td><a href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
            </tr>
          {% endfor %}
        </table>

        <hr>

        <!-- Related equipment table -->
        <table class="table table-striped table-hover table-sm">
          <caption>List of other equipment pages under the category {{ equipmentObject.equipmentCategory }}</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipment Name</th>
              <th scope="col">Page URL</th>
            </tr>
          </thead>
          <tbody>
          {% for obj in relatedObjects[1] %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <th scope="row">{{ obj.name }}</th>
                <td><a href="{{ url_for('equipment_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
            </tr>
          {% endfor %}
          {% if relatedObjects[1]|length == 0 %}
            <tr>
                <th scope="row">0</th>
                <th scope="row">Sorry! Looks like this exercise has no related equipment. This could be a bodyweight or calisthenics exercise!</th>
                <td>NA</td>
            </tr>
          {% endif %}

        </table>

        <hr>

        <!-- Related channels table -->
        <table class="table table-striped table-hover table-sm">
          <caption>List of related channel pages</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Channel Name</th>
              <th scope="col">Page URL</th>
            </tr>
          </thead>
          <tbody>
          {% for obj in relatedObjects[2] %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <th scope="row">{{ obj.name }}</th>
                <td><a href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
            </tr>
          {% endfor %}
        </table>

    </div>
{% endblock %}