{% extends 'base.html' %}

<!-- Equipment Param Name: equipmentObject -->
<!-- Equipment List Param Name: equipmentList -->

{% block head %}
    <title>{{ equipmentObject.name }}</title>
{% endblock %}


{% block body %}
    <div class="container-fluid bg-light mx-auto">
        <div id="equipmentInstanceHeaderRow" class="container justify-content-center align-items-center">
            <h1 id="equipmentInstanceName">Name: {{ equipmentObject.name }}</h1>
            <!-- There's no rating returned by the API -->
<!--            <img id="equipmentInstanceRating" class="img-fluid w-50 h-auto" src="{{ url_for('static', filename='{{ equipmentObject.rating }}stars.png') }}" alt="Rating: {{ equipmentObject.rating }}/5 stars">-->
        </div>

        <!-- Carousel -->
        <div id="equipmentCarousel"class="carousel slide centered" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#equipmentCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#equipmentCarousel" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="{{ equipmentObject.picture }}" alt=" {{ equipmentObject.name }}'s image"/>
                  </div>
<!--                  <div class="carousel-item">-->
<!--                      <img src="{{ equipmentObject.picture }}" onerror="this.onerror=null; this.src='{{ equipmentObject.picture }}'"; alt=" {{ equipmentObject.name }}'s carousel image"/>-->
<!--                  </div>-->
              </div>
              <a class="carousel-control-prev" href="#equipmentCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#equipmentCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
        </div>

        <!-- Information -->
<!--        <div id="equipmentInstanceDescriptionRow" class="row justify-content-center align-items-center">-->
<!--            <p></p>-->
<!--        </div>-->
        <hr/>
        <div id="equipmentInstanceSellerBox" class="container justify-content-center align-items-center">
            <h3><b>Price:</b> {{ equipmentObject.price }} USD</h3>
            <h5>Seller Location: {{ equipmentObject.location }} </h5>
            <h5>Category: {{ equipmentObject.category }}</h5>
            <a href="{{ equipmentObject.linkToItem }}">View item on eBay</a>
        </div>
        <hr/>

        <!-- Tags [obsolete, keep anyway] -->
<!--        <div id="equipmentInstanceExtensions" class="container justify-content-center align-items-center">-->
<!--            <h3>Product Tags</h3>-->
<!--            <ul>-->
<!--                {% for tag in equipmentObject.extensions %}-->
<!--                <li> {{ tag }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->

        <!-- Related products -->
        <div id="relatedEquipment" class="container justify-content-center align-items-center">
            <h3>Related Equipment</h3>
            <ul>
            <!-- TODO: debug this line -->
            {% for e in equipmentList %}
                {% if e.category == equipmentObject.category %}
                <li><a href="{{ url_for('equipment_instance', equipmentID=e.id) }}">{{ e.name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}