{% extends 'base.html' %}

<!-- PASSED PARAM NAME: equipmentArray -->

{% block head %}
    <title>Equipment Model Page</title>
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light">
        <h1 class="pageTitle">Welcome to the Equipment Model Page!</h1>
        <p class="pageSubtitle">
            This model page includes a database of different types of workout equipment, gear, and products. You can also
            quickly find the price rating and seller/vendor of each product in one place.
        </p>
        <div class="container-fluid bg-secondary" id="equipmentGrid">
            {% set numRows = equipmentArray|length // 3 %}
            {% set remainder = equipmentArray|length % 3 %}
            {% for i in range(numRows) %}
                <div class="row" id="row {{ i|string }}">
                {% for offset in range(3) %}
                    <div class="col-md-4">
                        <div class="card bg-secondary border-0">
                            <img class="card-img-top img-fluid" src="{{ equipmentArray[3*i+offset].images[0] }}" onerror="this.onerror=null; this.src='{{ equipmentArray[3*i+offset].images[1] }}'"; alt="{{ equipmentArray[3*i+offset].name }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ equipmentArray[3*i+offset].name }}</h2>
                                <p class="card-text">
                                    <ul class="equipmentData">
                                        <li>Price: {{ equipmentArray[i].price }}</li>
                                        <li>Rating: {{ equipmentArray[3*i+offset].rating }}</li>
                                        <li>Seller: {{ equipmentArray[3*i+offset].seller }}</li>
                                    </ul>
                                </p>
                                <!-- TODO: use this next line as reference for param names when building equipmentInstance.html -->
                                <a href="{{ url_for('equipment_instance', equipmentID=equipmentArray[3*i+offset].id) }}" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}

            {% if remainder > 0 %}
                <div class="row" id="bottomRow">
                {% for i in range(-remainder, 0) %}
                    <div class="col-md-4">
                        <div class="card bg-secondary border-0">
                            <img class="card-img-top img-fluid" src="{{ equipmentArray[i].images[0] }}" onerror="this.onerror=null; this.src='{{ equipmentArray[i].images[1] }}'"; alt="{{ equipmentArray[i].name }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ equipmentArray[i].name }}</h2>
                                <p class="card-text">
                                    <ul class="equipmentData">
                                        <!-- TODO: find out what attributes are most important to put in card data -->
                                        <li>Price: {{ equipmentArray[i].price }}</li>
                                        <li>Rating: {{ equipmentArray[i].rating }}</li>
                                        <li>Seller: {{ equipmentArray[i].seller }}</li>
                                    </ul>
                                </p>
                                <!-- TODO: use this next line as reference for param names when building equipmentInstance.html -->
                                <a href="{{ url_for('equipment_instance', equipmentID=equipmentArray[i].id) }}" class="btn btn-primary">More Equipment Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}