<!-- Passed in Jinja 2 Variables are named as: instanceObject, relatedObjects -->

{% extends 'base.html' %}

{% block head %}
    <title>{{instanceObject.name}}</title>
{% endblock %}

{% block body %}
<div class="exercise-instance-div container-fluid mx-auto">
  <div class="jumbotron-exercise-instance jumbotron jumbotron-fluid text-center">
    <h1>{{ instanceObject.name }}</h1>
  </div>

  <!-- Carousel for Images -->
  <div id="myCarousel" class="carousel slide centered" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 400px;">
        <img
          src="{{ instanceObject.images[0] }}"
          style="width: auto; max-height: 400px; background-color: whitesmoke;"
          onerror="this.onerror=null; this.src='/static/exercise_backup.jpg'"
          alt="{{ instanceObject.name }}"
        />
      </div>
      {% for i in range(1, instanceObject.images|length) %}
        <div class="carousel-item"  style="height: 400px;">
            <img
            src="{{ instanceObject.images[i] }}"
            style="width: auto; max-height: 400px; background-color: whitesmoke;"
            onerror="this.onerror=null; this.src='/static/exercise_backup.jpg'"
            alt="{{ instanceObject.name }}"
            />
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <br>

  <div class="exercise-instance-text container-fluid text-center">
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <h4 id="exerciseDescriptionText" >{{ instanceObject.description }}</h4>
    </div>
    <div class="jumbotron-exercise-instance-text jumbotron jumbotron-fluid text-center">
      <div class="row">
        <div class="col-sm-6">
          <h4 id="exerciseCategoryText" class="category-text"><b><u>Category:</u> </b>{{ instanceObject.category }}</h4>
        </div>
        <div class="col-sm-6">
          <h4 id="exerciseEquipmentText" class="equipment-text"><b><u>Equipment:</u> </b>{{ instanceObject.equipment|join(', ') }}</h4>
        </div>
      </div>
    </div>
    {% if instanceObject.muscles %}
        <h4><b><u>Muscles:</u> </b>{{ instanceObject.muscles }}</h4>
    {% else %}
        <h4><b><u>Muscles:</u> </b>None</h4>
    {% endif %}
    {% if instanceObject.muscles_secondary %}
        <h4><b><u>Secondary Muscles:</u> </b>{{ instanceObject.muscles_secondary }}</h4>
    {% else %}
        <h4><b><u>Secondary Muscles:</u> </b>None</h4>
    {% endif %}
    {% if instanceObject.comments %}
        <h4><b><u>Comments:</u> </b></h4>
        {% for c in instanceObject.comments %}
            <h4>{{ c }}</h4>
        {% endfor %}
    {% else %}
        <h4><b><u>Comments:</u> </b>None</h4>
    {% endif %}
  </div>

  <hr><hr>

  <div class="tables">
    <!-- Related exercises, equipment, and channel instances -->
    <!-- Related exercises table -->
    <h4 class="instance-text">Related Exercise Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      {% if instanceObject.subcategory is none %}
      <caption>Exercise pages are related by category {{ instanceObject.category }}</caption>
      {% else %}
      <caption>Exercise pages are related by {{ instanceObject.category }}: {{ instanceObject.subcategory }}</caption>
      {% endif %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Exercise Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in relatedObjects[0] %}
        <tr id="exerciseTable1" class="table-secondary">
            <th scope="row">{{ loop.index }}</th>
            <th scope="row">{{ obj.name }}</th>
            <td><a href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
          </tr>
      {% endfor %}
    </table>

    <!-- Related equipment table -->
    <h4 class="instance-text">Related Equipment Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      <caption>Equipment pages are related by category {{ instanceObject.equipment|join(', ') }}</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipment Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in relatedObjects[1] %}
        <tr class="table-secondary">
            <th scope="row">{{ loop.index }}</th>
            <th scope="row">{{ obj.name }}</th>
            <td><a href="{{ url_for('equipment_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
        </tr>
      {% endfor %}
      {% if relatedObjects[1]|length == 0 %}
        <tr id="exerciseTable2" class="table-secondary">
            <th scope="row">0</th>
            <th scope="row">Sorry! Looks like this exercise has no related equipment. This could be a bodyweight or calisthenics exercise!</th>
            <td>NA</td>
        </tr>
      {% endif %}

    </table>

    <!-- Related channels table -->
    <h4 class="instance-text">Related Channel Pages: </h4>
    <table class="table table-striped table-hover table-sm">
      {% if instanceObject.subcategory is none %}
      <caption>Channel pages are related by category {{ instanceObject.category }}</caption>
      {% else %}
      <caption>Channel pages are related by category {{ instanceObject.category }}: {{ instanceObject.subcategory }}</caption>
      {% endif %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Channel Name</th>
          <th scope="col">Page URL</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in relatedObjects[2] %}
        <tr id="exerciseTable3" class="table-secondary">
            <th scope="row">{{ loop.index }}</th>
            <th scope="row">{{ obj.name }}</th>
            <td><a href="{{ url_for('channel_instance', arrayIndex=obj.arrayIndex) }}">Link</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}