{% extends 'base.html' %}

{% block head %}
    <title>Barbell Ab Rollout</title>
{% endblock %}

{% block body %}

    <h1>Barbell Ab Rollout</h1>
    <div>
        <img src="https://lh3.googleusercontent.com/_b6oBLTPev6aAJFVCVVLIVKDSMvb8cxPgGUXfbndIAApol7DkiQfhMilP9vao5dOsA=w412-h220-rw" alt="">
        <img src="https://lh3.googleusercontent.com/PkAHmfTm2F0qnn3uCPrAW028jESDaX5jXuN-HAdZ_qR3qGp90zFumZKP2LuD90NjEw" alt="">
        <img src="https://i0.wp.com/ae01.alicdn.com/kf/HLB1spavKwHqK1RjSZFgq6y7JXXaE/-font-b-Ab-b-font-font-b-Roller-b-font-Wheel-Abdominal-Trainer-Wheel-Arm.jpg?crop=5,2,900,500&quality=2886" alt="">
        <br>
        <p>Description: Place a barbell on the floor at your feet.Bending at the waist, grip the barbell with a shoulder with overhand grip.With a slow controlled motion, roll the bar out so that your back is straight.Roll back up raising your hips and butt as you return to the starting position.</p>
        <p>Category: Abs</p>
        <p>Equipment: Barbell</p>
        <p>Muscles: Obliquus externus abdominis, Rectus abdominis</p>
        <p>Secondary Muscles: Anterior deltoid, Latissimus dorsi</p>
    </div>
    <br>
    <div class="border border-dark rounded mx-auto my-2">
        <h4>Top related channels</h4>
        <ul>
          <li>
            <a href="{{ url_for('channel_instance', channelID='UC_gbQ9J76mYJ5S3zVTANM_w') }}"
              >workout & Fitness</a
            >
          </li>
          <li>
            <a href="{{ url_for('channel_instance', channelID='UCb67rmuez0SKOQbZ4vCRDHQ') }}"
              >jensenol11</a
            >
          </li>
        </ul>
    </div>
            
{% endblock %}