<!-- Variables accessible with Jinja 2: currentExercisesArray, start, end, pageNumber, numPages-->

{% extends 'base.html' %}

{% block head %}
    <title>Exercises Model Page</title>
    <script type="text/javascript" src="/static/exercises.js"></script>
{% endblock %}

{% block body %}
<div class="exercise-div container-fluid">
    <div class="jumbotron-exercise jumbotron jumbotron-fluid text-center">
        <h1>Achieve your fitness goals</h1>
        <p class=modelDescription>Try out 100+ different exercises. </p>
    </div>
    <div id="sidebar-container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <form id="exercisesFilterForm" action="{{ url_for('exercises', pageNumber=1, currentArray=currentExercisesArray, operationUsed='Filter') }}" method="post">
                <ul class="checkbox-menu">
                    <li class="dropdown-header">Category</li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption1' name='checkedExerciseCategories' value="Abs">   Abs </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption2' name='checkedExerciseCategories' value="Arms"> Arms </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption3' name='checkedExerciseCategories' value="Back"> Back </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption4' name='checkedExerciseCategories' value="Calves"> Calves </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption5' name='checkedExerciseCategories' value="Chest"> Chest </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption6' name='checkedExerciseCategories' value="Legs"> Legs </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption7' name='checkedExerciseCategories' value="Shoulders"> Shoulders </label>
                    </li>
                    <li class="dropdown-header">Equipment</li>
                    <li>
                        <label><input type="checkbox"id='exercisesOption8' name='checkedEquipmentCategories' value="Barbell"> Barbell </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption9' name='checkedEquipmentCategories' value="Bench"> Bench </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption10' name='checkedEquipmentCategories' value="Dumbbell"> Dumbbell </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption11' name='checkedEquipmentCategories' value="Exercise mat"> Exercise Mat </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption12' name='checkedEquipmentCategories' value="EZ-Bar"> EZ-Bar </label>
                    </li>
                    <li>
                        <label><input type="checkbox" id='exercisesOption13' name='checkedEquipmentCategories' value="Kettlebell"> Kettlebell </label>
                    </li>
                    <li style="text-align: center; margin-top: 1rem; margin-bottom: 110px;">
                        <input type="hidden" id='exercisesResetHiddenField' name='resetHiddenField' value="">
                        <button class="filter-button btn btn-outline-light" type="button" name="Filter" onclick="verifyCheckBoxes('exercisesFilterForm')">Filter</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
    <!-- Sorting Dropdown and Search Bar-->
    {% set dataArr = [] %}
    {% for obj in currentExercisesArray %}
        {% set dataArr = dataArr.append({"name": obj.name, "category": obj.category, "equipment": obj.equipment|join(', '), "description": obj.description}) %}
    {% endfor %}
    <meta id="currentExercisesArrayData" data-arr='{{dataArr}}'/>
    <div class="container-fluid" style="display: inline-block;">
        <!-- Use any element to open the sidenav -->
        <button class="filter-open-button" onclick="openNav()">Filter ></button>

        <!-- Sorting Dropdown -->
        {% if currentExercisesArray|length != 0 %}
        <form class="d-inline-block sorting-form" id="exercisesSortForm" action="{{ url_for('exercises', pageNumber=1, currentArray=currentExercisesArray, operationUsed='Sort') }}" method="post">
            <label for="exercisesSortCriteriaMenu" id="exercisesSortMenuLabel" style="color: white; margin-top: 1rem;"></label>
            <select class="sort-form-style" id="exercisesSortCriteriaMenu" name="exercisesSortCriteriaMenu">
                <option value="select" id="select" selected disabled>Sort by</option>
                <option class="select-option" value="name">Name</option>
                <option class="select-option" value="category">Category</option>
                <option class="select-option" value="equipment">Equipment</option>
            </select>
            <input type="hidden" id='exercisesSortingHiddenField' name='exercisesSortingHiddenField' value="">
            <img class="ascending-button" src="/static/ascendingSortIcon.png" alt="Ascending" id="ascendBtn" onclick="submitSortForm('exercisesSortForm', 'exercisesSortingHiddenField', 'ascending');">
            <img class="descending-button" src="/static/descendingSortIcon.png" alt="Descending" id="descendBtn" onclick="submitSortForm('exercisesSortForm', 'exercisesSortingHiddenField', 'descending');">
        </form>
        {% endif %}

        <!--Search Bar-->
        <div class="dropdown d-inline-block">
            <form id="exercisesSearchForm" action="{{ url_for('exercises', pageNumber=1, currentArray=currentExercisesArray, operationUsed='Search') }}" method="post" style="display: none;">
                <input id="exercisesSearchItems" name="exercisesSearchItems">
            </form>
            <input class="input form-control ml-3 dropdown-toggle" id = "searchBar" type="search" placeholder="Search"/>
            <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins" style="width: 85%">
                <div id="menuItems">
                    {% for obj in currentExercisesArray %}
                        <a class="button dropdown-item" href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b></a>
                        <a class="button dropdown-item" href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Category: {{ obj.category }}</a>
                        <a class="button dropdown-item" href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Equipment: {{ obj.equipment|join(', ') }}</a>
                        <a class="button dropdown-item" href="{{ url_for('exercise_instance', arrayIndex=obj.arrayIndex) }}"><b>{{ obj.name }}</b> - Description: {{ obj.description }}</a>
                    {% endfor %}
                </div>
                <div id="empty" class="dropdown-header">No items found</div>
                <div id="menuLinks"></div>
            </div>
        </div>
        <button class="reset-button btn btn-outline-light" type="button" name="Reset" id="resetBtn" onclick="resetCheckboxState('exercisesFilterForm', 'exercisesResetHiddenField')">Reset All</button>
    </div>
    
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="grid-div container-fluid" id="modelGrid">
        {% set numFullRows = ((end + 1) - start) // 3 %}
        {% set numLeftOverChannels = ((end + 1) - start) % 3 %}
        {% for i in range(numFullRows) %}
            <div class="row justify-content-center" id="row{{ i|string }}">
            {% for offset in range(3) %}
                <div class="col-md-4 p-4">
                    <div class="card card-style h-100 pt-4" id="instanceCard_{{currentExercisesArray[start + 3*i + offset].arrayIndex}}">
                        <img class="card-img-top card-image-style img-fluid mx-auto" src="{{ currentExercisesArray[start + 3*i + offset].images[0] }}" onerror="this.onerror=null; this.src='{{ currentExercisesArray[start + 3*i+offset].images[1] }}'"; alt="{{ currentExercisesArray[start + 3*i + offset].name }}">
                        <div class="card-body">
                            <h2 class="card-title text-center" id="exerciseName_{{currentExercisesArray[start + 3*i + offset].arrayIndex}}">{{ currentExercisesArray[start + 3*i + offset].name }}</h2>
                            <p class="card-text">
                                <ul class="exerciseAttributesList list-unstyled">
                                    <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;" id="exerciseCategoryTxt_{{currentExercisesArray[start + 3*i + offset].arrayIndex}}"><b>Category: </b>{{ currentExercisesArray[start + 3*i + offset].category }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;" id="exerciseEquipText_{{currentExercisesArray[start + 3*i + offset].arrayIndex}}"><b>Equipment: </b>{{ currentExercisesArray[start + 3*i + offset].equipment|join(', ') }}</li>
                                    <li style="padding-left: 1em;" id="exerciseDescText_{{currentExercisesArray[start + 3*i + offset].arrayIndex}}"><b>Description: </b>{{ currentExercisesArray[start + 3*i + offset].description }}</li>
                                </ul>
                            </p>
                            <a href="{{ url_for('exercise_instance', arrayIndex=currentExercisesArray[start + 3*i + offset].arrayIndex) }}" id="exerciseCardPageLink_{{ start + 3*i + offset }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}      
            </div>
        {% endfor %}

        {% if numLeftOverChannels > 0 %}
            <div class="row" id="bottomRow">
            {% for i in range(-numLeftOverChannels, 0) %}
                <div class="col-md-4 p-4">
                    <div class="card card-style h-100 pt-4">
                        <img class="card-img-top card-image-style img-fluid mx-auto" src="{{ currentExercisesArray[end + 1 + i].images[0] }}" onerror="this.onerror=null; this.src='{{ currentExercisesArray[end + 1 + i].images[1] }}'"; alt="{{ currentExercisesArray[end + 1 + i].name }}">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ currentExercisesArray[end + 1 + i].name }}</h2>
                            <p class="card-text">
                                <ul class="exerciseAttributesList list-unstyled">
                                    <li style="padding-bottom: 0.5em; padding-left: 1em; padding-top: 1em;"><b>Category: </b>{{ currentExercisesArray[end + 1 + i].category }}</li>
                                    <li style="padding-bottom: 0.5em; padding-left: 1em;"><b>Equipment: </b>{{ currentExercisesArray[end + 1 + i].equipment|join(', ') }}</li>
                                    <li style="padding-left: 1em;"><b>Description: </b>{{ currentExercisesArray[end + 1 + i].description }}</li>
                                </ul>
                            </p>
                            <a href="{{ url_for('exercise_instance', arrayIndex=currentExercisesArray[end + 1 + i].arrayIndex) }}" id="exerciseCardPageLink_{{ end + 1 + i }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        {% if currentExercisesArray|length == 0 %}
            <h4 style="color: white;">Sorry! No instances meet your set requirements. Please reset the filters to see exercises.</h4>
        {% else %}
            <ul class="pagination justify-content-center" style="margin: 20px;">
                <!--Previous Page Button-->
                {% if pageNumber == 1 %}
                    <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('exercises', pageNumber=pageNumber-1, currentArray=currentExercisesArray, operationUsed='Pagination') }}">Previous</a></li>
                {% endif %}  

                <!--All Pages Buttons-->
                {% for i in range(1, numPages+1) %}
                    {% if i == pageNumber %}
                        <li class="page-item active"><a class="page-link" href="{{ url_for('exercises', pageNumber=i, currentArray=currentExercisesArray, operationUsed='Pagination') }}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('exercises', pageNumber=i, currentArray=currentExercisesArray, operationUsed='Pagination') }}">{{i}}</a></li>
                    {% endif %}    
                {% endfor %}

                <!--Next Page Button-->
                {% if pageNumber == numPages %}
                    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('exercises', pageNumber=pageNumber+1, currentArray=currentExercisesArray, operationUsed='Pagination') }}">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
<script>
    $("#searchBar").val(localStorage.getItem("exercisesSearchPhrase"));
    if (localStorage.getItem("exercisesSortPhrase") == null || localStorage.getItem("exercisesSortPhrase") == "null") $("#exercisesSortCriteriaMenu").val("select");
    else $("#exercisesSortCriteriaMenu").val(localStorage.getItem("exercisesSortPhrase"));

    let items = document.getElementsByClassName("dropdown-item");
    var data = $('#currentExercisesArrayData').data().arr;
    var dataArr = processData(data);

    function filter() {
        phrase = $("#searchBar").val().trim().toLowerCase();
        $("#menu").show()
        var headers = {};
        var hidden = 0;

        for (const [name, info] of Object.entries(dataArr)) {
            if (name.toLowerCase().includes(phrase)) {
                headers[name.toLowerCase().replace(/'/g, "")] = 1;
            } else if (("category: " + info.category.toLowerCase()).includes(phrase)) {
                headers[(name.toLowerCase() + " - category: " + info.category.toLowerCase()).replace(/'/g, "")] = 1;
            } else if (("equipment: " + info.equipment.toLowerCase()).includes(phrase)) {
                headers[(name.toLowerCase() + " - equipment: " + info.equipment.toLowerCase()).replace(/'/g, "")] = 1;
            } else if (("description: " + info.description.toLowerCase()).includes(phrase)) {
                headers[(name.toLowerCase() + " - description: " + info.description.toLowerCase()).replace(/'/g, "")] = 1;
            }
        }

        for (i = 0; i < items.length; i++) {
            var item = items[i].innerHTML.replace("<b>", "").replace("</b>", "").toLowerCase().replace(/'/g, "");
            if (item in headers) {
                $(items[i]).show();
            } else {
                $(items[i]).hide()
                hidden++
            }
        }

        //If no items match, show the empty view
        if (hidden === items.length) {
            $('#empty').show();
            localStorage.setItem("exercisesFiltersInvalid", true);
        }
        else {
            $('#empty').hide()
        }
    }

    $(document).ready(function() {
        $("#searchBar").on("keyup", function() {
                if ($(this).val().length > 0) {
                    filter();
                } else {
                    $("#menu").hide();
                }
            });
            $("#searchBar").on("search", function() {
                exercisesSearchPhrase = $(this).val();
                if(exercisesSearchPhrase.length != 0) {
                    localStorage.setItem("exercisesSearchPhrase", exercisesSearchPhrase);
                    $("#exercisesSearchItems").val("");
                    for (i = 0; i < items.length; i++) {
                        if ($(items[i]).is(":visible")) {
                            currVal = $("#exercisesSearchItems").val();
                            if (currVal.length != 0) currVal = currVal + "|";
                            $("#exercisesSearchItems").val(currVal + (items[i].innerHTML.split("</b>")[0]).replace("<b>", ""));
                        }
                    }
                    $("#exercisesSearchForm").submit();
                    $("#exercisesSearchItems").val("");
                }
                
            });
            $("#searchBar").on("blur", function() {
                if (!($("#menu").is(":hover"))) $("#menu").hide();
            });
            $("#searchBar").on("focus", function() {
                if ($(this).val().length != 0) filter();
            });
            $("#ascendBtn").on("click", function() {
                if (!($("#exercisesSortCriteriaMenu").val() == null || $("#exercisesSortCriteriaMenu").val() == localStorage.getItem("exercisesSortPhrase"))) localStorage.setItem("exercisesSortPhrase", $("#exercisesSortCriteriaMenu").val());
            });
            $("#descendBtn").on("click", function() {
                if (!($("#exercisesSortCriteriaMenu").val() == null || $("#exercisesSortCriteriaMenu").val() == localStorage.getItem("exercisesSortPhrase"))) localStorage.setItem("exercisesSortPhrase", $("#exercisesSortCriteriaMenu").val());
            });
    });

    function processData() {
        str = data;
        var strToArr = str.replace("[{", "").replace("}]", "").split("}, {");
        var finalObj = {};

        var tempStr = [];
        for (i = 0; i < strToArr.length; i++) {
            tempStr = strToArr[i].split("\', \'category\': \'");
            
            var nameStr = "";
            nameStr = tempStr[0].replace("\'name\': \'", "");

            tempStr = tempStr[1].split("\', \'equipment\': \'");
            var categoryStr = tempStr[0];

            if (tempStr[1].includes("\', \'description\': \"")) {
                tempStr = tempStr[1].split("\', \'description\': \"");
            } else {
                tempStr = tempStr[1].split("\', \'description\': \'");
            }
            
            var equipmentStr = tempStr[0];
            var descriptionStr = tempStr[1];

            finalObj[nameStr] = {"category": categoryStr, "equipment": equipmentStr, "description": descriptionStr, "idx": i};
        }

        return finalObj;
    }
</script>
{% endblock %}