{% extends 'base.html' %} {% block head %}
<title>Fithub Homepage</title>
<script type="text/javascript" src="/static/homepage.js"></script>
{% endblock %} {% block body %}
<div id="homepageCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homepageCarousel" data-slide-to="1"></li>
    <li data-target="#homepageCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active carousel-item-homepage">
      <img src="static/carousel1.jpg" />
      <div class="carousel-caption text-center">
        <h1>Exercises</h1>
        <h3>Get fit with our 100+ exercises</h3>
        <a
          class="btn btn-lg btn-outline-light"
          id="exerciseCarouselBtn"
          href="{{ url_for('exercises', pageNumber=1, currentArray=['INITIALIZE'], operationUsed='None') }}"
          role="button"
          >See Exercises</a
        >
      </div>
    </div>
    <div class="carousel-item carousel-item-homepage">
      <img src="static/carousel2.jpg" />
      <div class="carousel-caption text-center">
        <h1>Equipment</h1>
        <h3>Find equipment that suits your training needs</h3>
        <a
          class="btn btn-lg btn-outline-light"
          id="equipmentCarouselBtn"
          href="{{ url_for('equipments', pageNumber=1, currentArray=['INITIALIZE'], operationUsed='None') }}"
          role="button"
          >See Equipment</a
        >
      </div>
    </div>
    <div class="carousel-item carousel-item-homepage">
      <img src="static/carousel3.jpg" />
      <div class="carousel-caption text-center">
        <h1>Channels</h1>
        <h3>Explore popular Youtube fitness channels</h3>
        <a
          class="btn btn-lg btn-outline-light"
          id="channelCarouselBtn"
          href="{{ url_for('channels', pageNumber=1, currentArray=['INITIALIZE'], operationUsed='None') }}"
          role="button"
          >See Channels</a
        >
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#homepageCarousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a
    class="carousel-control-next"
    href="#homepageCarousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<hr id="homepageHorizontalDivider" />

<video
  controls
  preload
  playsinline
  autoplay
  muted
  loop
  id="hypeVideo"
  width="100vw"
  height="100vh"
>
  <source src="https://storage.googleapis.com/imbdproject.appspot.com/FithubHypeVideoEdited.mp4" type="video/mp4" />
</video>
{% endblock %}
